@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<EShopAdminApp.Models.Order>

<h2>Orders</h2>

<div class="row">
    <a class="btn btn-outline-danger" asp-controller="Order" asp-action="ExportAllOrders">Export Orders</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">
                #
            </th>
            <th class="col">
                Customer details
            </th>
            <th class="col">
                Number of products
            </th>
            <th class="col">

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @item.OrderedBy.Username
                    </td>
                    <td>
                        @item.Products.Count
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/Order/GetOrderDetails/@item.Id">Details</a>
                        <a class="btn btn-info" href="/Order/SavePdf/@item.Id">Export invoice</a>
                    </td>
                </tr>
            }
        }

    </tbody>

</table>