@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-8">
        <h1 style="color: lightcoral" class="display-4 text-center m-5">Welcome to reservEshop!</h1>
        <h5 class="text-center">The problem</h5>
        <p>
            How many times have you laid eyes on an online clothing but weren't sure whether it would fit right?
            We know the times we have. We also know the pain when we visit the physical store go to try it on and it was out already sold out.
        </p>
        <h5 class="text-center">The solution</h5>
        <p>Inspired by clothing items that got away, we have designed our business model - the reseving e-shop</p>
        <h6 class="text-center">More about us</h6>
        <p>ReservEshop is an online reservation system for clothes. Your item of choice will be securely reserved for you in exchange of minimal fee.</p>
        <h4 style="color: lightcoral" class="text-center">Happy shopping!</h4>
    </div>
</div>

